<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ecopart - Email Confirmation</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
        }

        h1 {
            font-family: 'Verdana';
            color: #ffffff;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        .header {
            background-color: #1976D2;
        }
    </style>
</head>

<body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%"
        style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-collapse: collapse;">
        <tr>
            <td class="header">
                <h1>EcoPart app</h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p>Hello, </p>
                <p>Thank you for applying to EcoPart! We are excited to have you join our mission to have a positive
                    impact on the world. 🌍</p>
                <p>Please click the link below to validate your account:</p>
                <p style="text-align: center;">
                    <a href="{{confirmation_path}}"
                        style="display: inline-block; padding: 10px 20px; background-color: #1976D2; color: #ffffff; text-decoration: none; border-radius: 5px;">Validate
                        Account</a>
                </p>
                <p>If the link above does not work, you can copy and paste the following URL into your browser:</p>
                <p>{{confirmation_path}}</p>
                <p style="margin-top: 30px;">Best regards,<br>Ecopart Team 🩵</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: center; background-color: #1976D2; color: #ffffff;">
                <p>🌐 <a href="https://ecopart.obs-vlfr.fr/about"
                        style="text-decoration: none; color: #ffffff;">ecopart.obs-vlfr.fr</a></p>
                <p>&copy; 2023 Ecopart. All rights reserved.</p>
            </td>
        </tr>
    </table>
</body>

</html>