name: Tests CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node 18
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: "Create env file"
        run: |
          touch .env
          echo TEST_ACCESS_TOKEN_SECRET = access_secret >> .env
          echo TEST_REFRESH_TOKEN_SECRET = refresh_secret >> .env
          cat .env

      # - name: Run tests
      #   run: npm run test
